<launch>

    <!-- The folder where the images are to be stored -->
    <arg name="bag_folder"/>

    <!-- Save images from openni_launch topics to video, online into smaller videos -->
    <!-- Used by strandsbag record -->
    <!-- Launch saving of depth images -->
    <node pkg="openni_saver" type="openni_saver_node" name="openni_saver_node" output="screen">
        <param name="camera_topic" value="head_xtion"/>
        <param name="video_length" value="6"/>
        <param name="bag_folder" value="$(arg bag_folder)"/>
    </node>
    <!-- Launch compressor -->
	<node pkg="libav_compressor" type="online_compressor.py" name="online_compressor" output="screen"/>
e>
</launch>
