#!/usr/bin/env python
# -*- coding: utf-8 -*-
#
#     libavSubscriber.py
#
#     Copyright 2013 Dominique Hunziker
#
#     Licensed under the Apache License, Version 2.0 (the "License");
#     you may not use this file except in compliance with the License.
#     You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
#     Unless required by applicable law or agreed to in writing, software
#     distributed under the License is distributed on an "AS IS" BASIS,
#     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#     See the License for the specific language governing permissions and
#     limitations under the License.
#
#     \author/s: Dominique Hunziker
#
#

from dynamic_reconfigure.parameter_generator_catkin import *


def main():
    gen = ParameterGenerator()

    pix_fmts = [gen.const('default', str_t, 'default', 'Use the same format as for the input image'),
                gen.const('rgb', str_t, 'rgb', 'RGB 8:8:8, 24bpp'),
                gen.const('bgr', str_t, 'bgr', 'BGR 8:8:8, 24bpp'),
                gen.const('yuv', str_t, 'yuv', 'YUV 4:2:2, 16bpp, Cb Y0 Cr Y1'),
                gen.const('gray8', str_t, 'gray8', 'Single channel, 8 bpp'),
                gen.const('gray16', str_t, 'gray16', 'Single channel, 16 bpp')]
    pixel_enum = gen.enum(pix_fmts, 'Enum to set pixel format of the decoded image')

    gen.add('pixel_format', str_t, 0, 'Pixel format of decoded image', 'gray16', edit_method=pixel_enum)
    gen.add('width', int_t, 0, 'Image width of the decoded image', 640)
    gen.add('height', int_t, 0, 'Image height of the decoded image', 480)

    return gen.generate('libav_image_transport', 'LibAVImageSubscriber',
                        'libavSubscriber')


if __name__ == '__main__':
    exit(main())
