<launch>
    <rosparam>
        use_sim_time : true
    </rosparam>
    <arg name="f"/>
    <node pkg="rosbag" type="play" name="player" output="screen" args="$(arg f) --clock"/>
	<node pkg="strandsbag" type="image_player" name="image_player" args="$(find libav_compressor)/images" output="screen">
	    <param name="image_folder" value="$(find libav_compressor)/images"/>
    </node>
e>
</launch>
