<launch>
    <!-- We need to set use_sim_time because the clock arg doesn't do so -->
    <rosparam>
        use_sim_time : true
    </rosparam>
    
    <!-- The folder where we find the rosbag and the compressed videos -->
    <arg name="bag_folder"/>
    
    <!-- Option to suppress output -->
    <arg name="q" default="false"/>
    <arg name="quiet" value="-q" if="$(arg q)"/>
    <arg name="quiet" value="" unless="$(arg q)"/>
    
    <!-- Option to play without waiting, not sure if works with videos -->
    <arg name="i" default="false"/>
    <arg name="immediate" value="-i" if="$(arg i)"/>
    <arg name="immediate" value="" unless="$(arg i)"/>
    
    <!-- Option to loop the play, this does not work with videos -->
    <arg name="l" default="false"/>
    <arg name="loop" value="-l" if="$(arg l)"/>
    <arg name="loop" value="" unless="$(arg l)"/>
    
    <!-- Option to keep the bag running after it is empty -->
    <arg name="k" default="false"/>
    <arg name="keepalive" value="-k" if="$(arg k)"/>
    <arg name="keepalive" value="" unless="$(arg k)"/>
    
    <!-- Start the bag paused, should work with videos -->
    <arg name="pause" default="false"/>
    <arg name="dopause" value="--pause" if="$(arg pause)"/>
    <arg name="dopause" value="" unless="$(arg pause)"/>
    
    <!-- Launch the rosbag -->
    <node pkg="rosbag" type="play" name="player" output="screen" args="$(arg bag_folder)/bag.bag --clock $(arg dopause) $(arg keepalive) $(arg loop) $(arg quiet) $(arg immediate)"/>
    
    <!-- Launch the node streaming the images from a folder -->
	<node pkg="strandsbag" type="image_player_node" name="image_player_node" output="screen">
	    <param name="bag_folder" value="$(arg bag_folder)"/>
	    <param name="camera_topic" value="head_xtion"/>
    </node>
e>
</launch>
