<launch>
    <!-- The name of the rosbag to be saved -->
    <arg name="o"/>
    
    <!-- Option to suppress output -->
    <arg name="q" default="false"/>
    <arg name="quiet" value="-q" if="$(arg q)"/>
    <arg name="quiet" value="" unless="$(arg q)"/>
    
    <!-- Option to use bz2 compression -->
    <arg name="j" default="false"/>
    <arg name="bz2" value="-j" if="$(arg j)"/>
    <arg name="bz2" value="" unless="$(arg j)"/>
    
    <!-- Record a rosbag, use regular expressions to exclude images -->
    <node pkg="rosbag" type="record" name="recorder" output="screen" args="-a -x "/head_xtion/(.*)" $(arg quiet) $(arg bz2) -o $(arg o)"/>
    
    <!-- Save the images published by openni_launch -->
	<include file="$(find libav_compressor)/launch/video_saver.launch"/>
e>
</launch>
