<launch>
    <!-- We need to set use_sim_time because it might be set to true when playing -->
    <rosparam>
        use_sim_time : false
    </rosparam>
    
    <!-- The folder where the rosbag is stored together with the videos -->
    <arg name="bag_folder"/>
    
    <!-- Option to suppress output -->
    <arg name="q" default="false"/>
    <arg name="quiet" value="-q" if="$(arg q)"/>
    <arg name="quiet" value="" unless="$(arg q)"/>
    
    <!-- Option to use bz2 compression -->
    <arg name="j" default="false"/>
    <arg name="bz2" value="-j" if="$(arg j)"/>
    <arg name="bz2" value="" unless="$(arg j)"/>
    
    <!-- Record a rosbag, use regular expressions to exclude images -->
    <node pkg="rosbag" type="record" name="recorder" output="screen" args="-a -x &quot;/(head_xtion)/(.*)/(?!camera_info|parameter_descriptions|parameter_updates)(\w+).&quot; $(arg quiet) $(arg bz2) -O $(arg bag_folder)/bag"/>
    
    <!-- Save the images published by openni_launch -->
	<include file="$(find libav_compressor)/launch/video_saver.launch">
	    <arg name="bag_folder" value="$(arg bag_folder)"/>
	</include>
</launch>
